# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build Output (Hasil Build)
dist
dist-ssr

# Local Environment Variables
.env
.env.local
.env.*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User requested ignores
# Kita menghapus 'public/' dari sini agar folder tersebut kembali muncul di GitHub
# Jika Anda ingin mengabaikan file spesifik (misal logo lama), tulis nama filenya saja, bukan foldernya.
public/logo.svg
